/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 1%;
  padding: 2%;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

h1 {
  color: #333;
}

h2, h3, h4 {
  color: #1c88b9;
}

form {
  text-align: center;
  margin: 10px;
}

img {
  cursor: pointer;
}

input[type="text"], input[type="checkbox"] {
  margin: 10px;
  padding: 8px;
}

span {
  color: red;
}

p {
  font: bold;
  line-height: 1.5;
}

/* Media Query for Responsive Design */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }
}
